<header>
	<nav class="navbar navbar-default">
		<div class="container">

			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#collapse-navbar"
					aria-expanded="false">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" routerLink="/casafina-arquitetura"
					routerLinkActive="active">Home</a>
			</div>

			<div class="collapse navbar-collapse" id="collapse-navbar">
				<ul class="nav navbar-nav">
					<li><a href="#sobre-nos">Sobre Nós</a></li>
					<li><a href="#nossos-projetos">Nossos Projetos</a></li>
					<li><a href="#depoimentos">Depoimentos</a></li>
					<li><a href="#contato">Contato</a></li>
					<li><a routerLink="/other-page" routerLinkActive="active">Second
							Page</a></li>
					<li><a routerLink="/draggable-page" routerLinkActive="active">Draggable
							Page</a></li>
				</ul>
			</div>
		</div>
	</nav>
	<!-- div class="container topCasaFina-bannerWrapper">
		<div class="topCasaFina-banner">
			<h1>TopCasaFina Arquitetura</h1>
			<p>Projetando a casa dos sonhos desde 2000 A.C</p>
			<button class="btn btn-primary btn-lg">Contate-nos agora</button>
		</div>
	</div -->
</header>

<router-outlet></router-outlet>
