<div class="container">
	
	<div class="card" style="width: 12rem;">
		<div class="card-header">Featured</div>
		<ul class="list-group list-group-flush">
			<li class="list-group-item"><img src="assets/img/airplane.svg"
				width="50px" height="50px" class="draggable"></li>
			<li class="list-group-item"><img src="assets/img/archive.svg"
				width="50px" height="50px" class="draggable"></li>
		</ul>
	</div>
	
	<img class="img-fluid rounded mx-auto d-block" alt="..."
		src="assets/img/empresa.jpg" style="left: 0px; top: 0px; z-index: -1">
	
</div>