<section id="mainImageSection">
	
	<input type="file" name="photo" ng2FileSelect [uploader]="uploader" />
	
	<button type="button" class="btn btn-success btn-s"
		(click)="uploadImage()"
		[disabled]="!uploader.getNotUploadedItems().length">Upload
		an Image</button>
	<br>
	<section id="mainImageEdition" class="container">
		<!-- div class="row">
			<div class="col align-self-center">
      			<img alt="" [src]="mainImgUrl" class="img-fluid">
    		</div>
		</div -->
		<img [src]="mainImgUrl" class="img-fluid rounded mx-auto d-block" alt="...">
	</section>
	
</section>
